.home {
    margin-left: 16%;

}

body {
    background-color: rgba(128, 128, 128, 0.114);
}

.tip-montaj {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tip-montaj2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.montaj-title {
    margin-top: 3rem;
    padding-right: 2rem;
    font-weight: 500;
}

.montaj-btn {
    min-width: 50px;
    padding: 2rem;
    background-color: #005aab;
    color: white;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: 2px solid white;
    font-weight: 600;
}

.montaj-btn:hover {
    background-color: #005bab72;
}

.select-panou {
    margin-top: 3rem;
    height: 2rem;
    min-width: 30rem;
    border: 2px solid;
    font-weight: 600;
}

.detaliu-panou {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 4rem;
    color: #005aab;
    font-weight: 600;
}

.montaj-btn-active {
    text-align: center;
    min-width: 50px;
    padding: 2rem;
    background-color: #fdb813;
    color: black;
    margin-right: 2rem;
    margin-top: 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
    font-weight: 600;
}

.select-randuri {
    margin-top: 3rem;
    height: 1rem;
    width: 3.2rem;
    text-align: center;
    border: 2px solid;
    border-radius: 1rem;
    font-weight: 600;
}

.nr-randuri {
    display: flex;
    align-items: center;
    padding: 0;
}

.randuri-title {
    margin-top: 1rem;
    padding-right: 1rem;
    width: 15rem;
    font-weight: 400;
}

.randuri-value {
    margin-top: 1rem;
    height: 1rem;
    width: 3rem;
    text-align: center;
    border: 2px solid;
    border-radius: 1rem;
    font-weight: 600;
}

.calc-btn {
    position: relative;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #005aab;
    color: white;
    font-size: 16px;
    border: 2px solid white;
}

.calc-btn:hover {
    background-color: #014b8d;
}

.btn-randuri {
    margin-top: 3rem;
    height: 25px;
    width: 3rem;
    margin-left: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn-randuri:hover {
    background-color: beige;
}

.rezultate-body {
    margin-top: 1rem;
    background-color: #fdb813;
    width: 30%;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 2px solid white;
}

.rezultate-row {
    padding: 10px;
}

.rez-rand {
    margin-top: 1rem;
    background-color: #fdb813;
    margin-left: 1.5rem;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    font-weight: 500;
    border: 2px solid white;
}

.rez-flex {
    display: flex;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.nr-rand-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-btn {
    padding: .1rem 5rem;
    margin-bottom: .3rem;
    border-radius: 1rem;
    min-width: 20rem;
    max-width: 20rem;
    cursor: pointer;
    background-color: #005aab;
    color: white;
    border: 1px solid white;
}

.details-btn:hover {
    background-color: #014b8d;
}

.drop-btn {
    background-color: #fdb813;
    border-radius: 1rem;
    cursor: pointer;
    justify-content: center;
    display: flex;
    border: 2px solid white;
}

.drop-btn:hover {
    color: white;
}

@media (max-width:1280px) and (min-width:1025px) {
    .home {
        margin-left: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tip-montaj {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        align-items: flex-start;
    }

    .tip-montaj2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }

    .montaj-title {
        margin-top: 1rem;
        padding-right: 2rem;
        justify-self: center;

    }

    .montaj-btn {
        width: 10rem;
        padding: 1rem;
        background-color: #005aab;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }

    .montaj-btn:hover {
        background-color: #005bab72;
    }

    .select-panou {
        margin-top: .4rem;
        height: 2rem;
        min-width: 30rem;
        max-width: 30rem;
        margin-right: 1rem;

    }

    .detaliu-panou {
        margin-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-right: 6rem;
    }

    .montaj-btn-active {
        text-align: center;
        width: 10rem;
        padding: 1rem;
        background-color: #fdb813;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;

    }

    .select-randuri {
        margin-top: 1rem;
        height: 2rem;
        width: 3rem;
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }

    .nr-randuri {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .randuri-title {
        margin-top: 1rem;
        padding-right: 1rem;
    }

    .randuri-value {
        margin-top: 1rem;
        height: 2rem;
        width: 3rem;
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }

    .calc-btn {
        position: relative;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-size: larger;
        margin-right: .5rem;
        background-color: #005aab;
    }

    .calc-btn:hover {
        background-color: #014b8d;

    }

    .btn-randuri {
        margin-top: 3rem;
        height: 25px;
        width: 3rem;
        margin-left: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .btn-randuri:hover {
        background-color: beige;
    }

    .rezultate-body {
        margin-top: 1rem;
        background-color: #fdb813;
        width: 100%;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;
    }

    .rezultate-row {
        padding: 10px;
    }

    .rez-rand {
        margin-top: 1rem;
        background-color: #fdb813;
        margin-left: 1rem;
        width: 6rem;
        height: 3rem;
        text-align: center;
        font-size: 14px;
    }

    .rez-flex {
        display: flex;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .nr-rand-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media (max-width:1024px) {
    .home {
        margin-left: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .tip-montaj {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 1rem;
    }

    .tip-montaj2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        align-items: center;
    }

    .montaj-title {
        margin-top: 1rem;
        padding-right: 2rem;
    }

    .montaj-btn {
        width: 5rem;
        padding: 1rem;
        background-color: #005aab;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }

    .montaj-btn:hover {
        background-color: #005bab72;
    }

    .select-panou {
        margin-top: .4rem;
        height: 2rem;
        min-width: 19rem;
        max-width: 19rem;
        margin-right: 1rem;

    }

    .detaliu-panou {
        margin-top: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-right: 6rem;
    }

    .montaj-btn-active {
        text-align: center;
        width: 5rem;
        padding: 1rem;
        background-color: #fdb813;
        margin-right: 2rem;
        margin-top: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .select-randuri {
        margin-top: 1rem;
        height: 2rem;
        width: 3rem;
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }

    .nr-randuri {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .randuri-title {
        margin-top: 1rem;
        padding-right: 1rem;
    }

    .randuri-value {
        margin-top: 1rem;
        height: 2rem;
        width: 3rem;
        text-align: center;
        font-size: large;
        margin-right: 1rem;
    }

    .calc-btn {
        position: relative;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 10px;
        cursor: pointer;
        font-size: larger;
        margin-right: .5rem;
        background-color: #005aab;
    }

    .calc-btn:hover {
        background-color: #014b8d;

    }

    .btn-randuri {
        margin-top: 3rem;
        height: 25px;
        width: 3rem;
        margin-left: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }

    .btn-randuri:hover {
        background-color: beige;
    }

    .rezultate-body {
        margin-top: 1rem;
        background-color: #fdb813;
        width: 100%;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        margin-bottom: 1rem;
    }

    .rezultate-row {
        padding: 10px;
    }

    .rez-rand {
        display: flex;
        margin-top: 1rem;
        background-color: #fdb813;
        margin-left: .3rem;
        width: 3.5rem;
        text-align: center;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .rez-flex {
        display: flex;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .nr-rand-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}