.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

li {
    padding: 1.3rem;
    margin-bottom: 1rem;
    list-style-type: none;
    background-color: aqua;
    border-radius: 1rem;
    font-size: 18px;
    margin-left: 0px;
    color: black;
    cursor: pointer;
}

li:hover {
    background-color: rgba(0, 255, 255, 0.544);
}

ul {
    padding: 10px;
}

.sidebar-off {
    display: none;
}

.toggle-btn {
    display: none;
}

@media (max-width:1025px) {

    .sidebar {
        display: none;
    }

    .sidebar-off {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.378);
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 99;
    }

    li {

        padding: 1.2rem 4rem;
        margin-bottom: 1rem;
        list-style-type: none;
        background-color: aqua;
        border-radius: 2rem;
        font-size: 18px;
        margin-left: 0px;
        color: black;
        cursor: pointer;
    }

    ul {
        margin-top: 3rem;
    }

    .toggle-btn {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: aqua;
        border-radius: 1rem;
        padding: .3rem .5rem;
        width: 1rem;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
}