.home {
    margin-left: 16%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabs-bar {
    display: flex;
    margin-left: .7rem;
    margin-bottom: 1rem;
}

.tab-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .2rem;
    background-color: #005aab;
    color: white;
    padding: .5rem .5rem;
    width: 8rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
}

.tab-item:hover {
    background-color: #005baba0;
}

.tab-item-active {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .2rem;
    background-color: #fdb814;
    color: white;
    padding: .5rem .5rem;
    width: 8rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
}

table {
    text-align: center;
}

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table_row {
    background-color: rgba(128, 128, 128, 0.168);
}

table {
    margin-top: 0rem;
}

.table_body {
    display: flex;
}

.add-btn {
    position: relative;
    margin-top: 2rem;
    padding: 1.3rem 3rem;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fdb814;
    font-weight: 600;
    color: white;
    border: 2px solid;
    text-shadow: 1px 1px 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.add-btn:hover {
    background-color: #fdb7148b;
    color: white;
}

.x-btn {
    display: flex;
    align-items: center;
    width: .5rem;
    padding: 1rem;
    height: .2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #005aab;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    margin-left: 2rem;
    text-shadow: 1px 1px 1px black;
}

.x-btn:hover {
    background-color: #005bab96;
}

.addedCategoryItem {
    margin-left: 1rem;
    font-weight: bold;
    background-color: #005aab;
    width: 10rem;
    color: white;
    border-radius: 2rem;
    padding: 5px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.inputs-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 2rem;
    margin-left: 2rem;
}

.input-value {
    width: 30rem;
    border: 2px solid white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.input-value2 {
    width: 5rem;
    text-align: center;
    border: 2px solid white;
    font-size: 14px;
}

.input-flex {
    display: flex;
    padding: 1rem;
}

.input-name {
    width: 8.5rem;
    font-weight: 700;
    color: black;
    text-shadow: 1px 1px 1px white;
}

.add-btn2 {
    width: 6rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #005aab;
    font-weight: 600;
    color: white;
    border: 2px solid white;
    text-shadow: 1px 1px 1px black;
}

.add-btn2:hover {
    background-color: #005bab96;
    color: white;
}

.th-nume {
    background-color: #005aab;
    color: black;
    min-width: 35rem;
    padding-right: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    color: white;
    border-top-left-radius: 1rem;
    text-shadow: 1px 1px 1px black;
}

.th-dimensiuni {
    background-color: #005aab;
    color: white;
    width: 100px;
    padding-right: 10rem;
    text-align: center;
    padding: .5rem;
    font-size: 17px;
    text-shadow: 1px 1px 1px black;
}


.td-nume {
    background-color: #ffffff;
    width: 35rem;
    padding-right: 10rem;
    text-align: start;
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
}

.td-dimensiuni {
    background-color: #ffffff;
    width: 100px;
    padding-right: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 17px;

}

.td-remove {
    background-color: #fdb814;
    color: white;
    width: 0.5rem;
    padding-right: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
}

.td-remove:hover {
    background-color: #fdb7148b;
    color: white;
    width: 0.5rem;
    padding-right: 10rem;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;

}

.butoane {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.adding-container {
    background-color: #fdb814;
    width: 60%;
    display: flex;
    border-radius: 2rem;
    margin: auto;
    padding-bottom: 1rem;
    margin-top: 1rem
}

.modify-btn {
    background-color: rgba(128, 128, 128, 0.715);
    padding: 0rem .1rem;
    margin-left: .2rem;
    cursor: pointer;
    border-radius: .2rem;

}

.modify-btn:hover {
    background-color: rgba(128, 128, 128, 0.448);
}



.input-pret {
    width: 3rem;
}